<!-- <footer class="pt-3 pb-5 pb-sm-4 start-50 translate-middle fixed-bottom"> -->
<footer class="py-2 bg-dark">
    <div class="container">
        <div class="row">

            <!--Título footer-->
            <div class="col-12 col-sm-6 text-center ">
                <a href="index.html" class="text-decoration-none text-white">
                    <h4 class="py-1 pt-sm-2 pb-sm-0">
                        {{titulo | titlecase}}
                    </h4>
                </a>
            </div>

            <!--Íconos RRSS-->
            <div class="col-12 col-sm-6 text-center">

                <!--Github-->
                <a href="https://github.com/Sheshinmcfly" target="_blank">
                    <i class="fab fa-github-square fa-3x mx-2 text-white"></i>
                </a>

                <!--Linkedin-->
                <a href="https://linkedin.com/in/sheshinmcfly" target="_blank">
                    <i class="fab fa-linkedin fa-3x mx-2 text-white"></i>
                </a>

                <!--Instagram-->
                <a href="https://instagram.com/sheshinmcfly" target="_blank">
                    <i class="fab fa-instagram-square fa-3x mx-2 text-white"></i>
                </a>

                <!--Facebook-->
                <a href="https://facebook.com/sheshinmcfly" target="_blank">
                    <i class="fab fa-facebook-square fa-3x mx-2 text-white"></i>
                </a>

            </div>

        </div>
    </div>
</footer>